body {
text-align: center;
}



p {
font-size: 1rem;
}
br {
       line-height: 100%;
    }


/* Headings */

.left-align{
  text-align: left;
}

.red-donate-button{
  background-color: #ed1b30;
}
.container-fluid{
  padding: 3% 15%;
}

.container{
  padding-top: 1%;
  padding-bottom: 5%;
}

.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 1rem;
}
 .centralize{
   text-align: center;
 }

.white-box{
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 20px;
}

.big-white-heading{
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 3em;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  padding: 5% ;
}

/* Containers */

/* Sections */
.no-padding{
  padding: 0;
  margin: 0;
}

.no-top-padding{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.black-box{
  color: white;
  background-color: black;
}

.black-background{
  background-color: #010101;
}

.extra-padding{
  padding-top: 5%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: normal;
}

.nav-item {
  padding: 0 18px
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 900;
}


.feature-box {
  padding: 5%;
}

.feature-caption{
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 700;
}

.connect-statement{
  text-align: center;
}

.feature-title {
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: 500;
}
.solution-paragraph {
  text-align: left;
  font-size: 1.25rem;
  font-family: "Roboto";
  font-weight: lighter;
}

.social-media {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: normal;

}

.issues-pictures{
  align-self:center;
}

.little-box{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: .5rem;
  padding-top: .5rem;
  background-color: #ed1b30;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 1rem;
}
.black{
  background-color: #010101;
  color: #ffffff;
}

.red {
  background-color: #ed1b30;
  color: #fff;
}
.platinum {
  background-color: #E2E2E2;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

#current-initiatives{
  background-color: #010101;
  color: #fff;
}

#about-row {
  border-top: 3px dashed white;
}

.thin-paragraph {
  font-weight: 200;
  font-style: italic;
}

.dot-separator {
  font-size: 30px;
}

.drop-down {
  border: 1px solid black;
  height: 50px;
  margin: 15px;
  overflow: hidden;
}

.drop-down-value{
  width: 90%;
  margin-left: 5%;
  text-align: left;
}
.drop-down-text>h3 {
  text-align: left;
}
.drop-down-text>p {
  text-align: left;
  margin-top: -10px;
}
.profile-image {
  display: inline-block;
  width: 100px;
}

.drop-down-header {
  text-align: center;
  font-size: 30px;
  margin-left: 25%;
  width: 50%;
  display: inline-block
}

.image-frame {
  height: 400px;
  overflow: hidden;
  margin-top: 30px;
}

.image-frame>img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.btn-border {
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.row-space {
  margin-top: 25px;
}

.row-bottom-space{
  margin-bottom: 25px;
}

.drop-down-arrow{
  margin-left: 10%;
  margin-top: -10px;
  width: 30px;
  height: 30px;
}

.btn-stretch {
  width: 30%;
  margin-left: 35%;
}

#insta-container {
  margin-left: 10%;
  width: 80%;
  height: 640px
}

#back-to-top {
  z-index: 1;
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 40px;
  width: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: black;
  transform: rotate(180deg)
}

#back-to-top>img {
  height: 30px;
  bottom: 50px;
}
